<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Milliy</title>
</head>

<body>
    <!-- Asosiy menyu knopkalari -->
    <div class="rounded-square">
        <a href="home_page.html" class="text">Asosiy menyu</p>
        <a href="qidiruv.html" class="text1">⠀⠀⠀⠀⠀⠀Qidiruv</p>
    </div>
    <!-- /Asosiy menyu knopkalari -->
    
    <!-- Shuni teyindagi knopkala -->
    <div class="rounded-square1">
        <a href="#"></a>

    </div>
    <!-- /Shuni teyindagi knopkalar -->
    



</body>
</html>